@font-face {
  font-family: 'Satoshi Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Satoshi Variable'), url('/fonts/Satoshi-Variable.ttf') format('truetype-variations');
}
